#skills{
    overflow: hidden;
    width:100vw;
    max-width:65rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin:0 auto;


}
.skilltitle{
    font-size:3rem;
    font-weight:600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillsdesc{
    font-weight: 400;
    font-size:1rem;
    max-width:62rem;
    padding:0rem;

}
.skillbars{
    margin:1.5rem;
    width:100vw;
    max-width:80%;
    text-align: left;
}
.skillbar{
    display:flex;
    background-color: rgb(50,50,50);
    
    margin:1rem;
    padding:1.5 2rem;
    border-radius:0.5rem;
   

}
.skillbarimg{
    object-fit:cover;
    height:7rem;
    width:7rem;
    margin-right:2rem;
    margin-left: 1rem;

}
.skillbartext{
    padding-top:1rem;
}
.skillbartext >p {
    font-size:0.9rem;
    font-weight: 200;


}
.skillbartext>h2{
    font-size:1.5rem;
    font-weight:500;
}
@media screen and (max-width:700px){
    .skillbartext>p{
        padding-bottom:2rem;
        font-size:0.5rem;
    }
    .skillbartext>h2{
        font-size:0.9rem;
    }

}